.data-grid-container .data-grid tbody tr:nth-child(1) .cell .value-viewer,
.data-grid-container .data-grid .cell{
  align-items: center;
}

.top-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
  padding: 0 8px;
}
.top-row .span{

}
.top-row .input{
  margin: 0 8px;
}
.top-row > .button{

}
.data-list-app{
  padding-top:  16px;
}
